// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//custom styles
html,body{
    min-height: 100%;
    background: white;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

.logo {
    max-height:250px;
}

h1.site-name {
    color: #fff;
    margin-bottom: 25px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.twitter-typeahead {
    width : 300px !important;
    height: 30px;
}

.logo-mini {
    max-width: 50px;
}

.input-group>.twitter-typeahead {
    position: relative;
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.input-group>.twitter-typeahead:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group>.twitter-typeahead>.tt-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form-control.tt-input:focus {
    z-index: 3
}
.tt-menu {
    margin-top: 1px;
    width: 100%;
}